<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Agelia Academy</title>
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"
            >AGELIA<span> ACADEMY</span></a
          >
        </div>
      </div>
    </nav>
    <div class="section-padding">
      <div class="wrapper">
        <h2>Daftar Agelia Academy</h2>
        <form action="login.html">
          <div class="input-box">
            <input type="email" placeholder="Masukan email..." />
          </div>
          <div class="input-box">
            <input type="password" placeholder="Buat password.." />
          </div>
          <div class="input-box button">
            <input type="Submit" value="Daftar Sekarang" />
          </div>
          <div class="text">
            <h3>Sudah menjadi member? <a href="login.html">Masuk</a></h3>
          </div>
        </form>
      </div>
      <div class="header-section text-center" style="height: 320px"></div>
    </div>
    <footer id="footer" class="footer">
      <div class="text-center">
        @Copyright by 20552011238_Riva Sri Agelia_TIFK20
      </div>
    </footer>
  </body>
</html>
