<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Agelia Academy</title>
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/login.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"
            >AGELIA<span> ACADEMY</span></a
          >
        </div>
      </div>
    </nav>
    <div class="section-padding">
      <div class="wrapper">
        <h2>Masuk Ke Agelia Academy</h2>
        <form action="home-page.html" onsubmit="return login()">
          <div class="input-box">
            <input
              type="email"
              id="email"
              placeholder="Masukan email..."
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              id="password"
              placeholder="Masukan password.."
              required
            />
          </div>
          <div class="input-box button">
            <input type="Submit" value="Masuk" />
          </div>
          <div class="text">
            <h3><a href="daftar.html">Daftar Member</a></h3>
          </div>
        </form>
      </div>
      <div class="header-section text-center" style="height: 320px"></div>
    </div>
    <footer id="footer" class="footer">
      <div class="text-center">
        @Copyright by 20552011238_Riva Sri Agelia_TIFK20
      </div>
    </footer>
  </body>
</html>
